body {
  margin: 0;
  background-color: rgb(11, 11, 18);
}

@font-face {
  font-family: HiveRidley;
  src: url(assets/RidleyGrotesk-ExtraBold..otf);
}
@font-face {
  font-family: WorkSans;
  src: url(assets/WorkSans-VariableFont_wght.ttf);
}

nav a {
  font-size: 1.5vw;
  font-family: WorkSans;
}

a {
  text-decoration: none;
}

nav {
  margin: auto 5%;
  position: absolute;
  top: 2vh;
  width: 90%;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
}

nav div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav div div {
  margin-right: 8%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: auto;
}

nav ul li a {
  color: white;
}

#logIn a {
  display: flex;
  align-items: center;
}

#logIn a img {
  width: 3vw;
  margin: 10px;
  border-radius: 50%;
}

.logo1 {
  width: 90%;
}
.logo2 {
  width: 100%;
}

.principal {
  font-family: HiveRidley;
  background-image: url("assets/mainBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.principal * {
  margin: auto;
}

.principal h3 {
  color: rgb(184, 0, 0);
  font-size: 1.75vw;
  text-transform: uppercase;
}

.principal h1 {
  line-height: 5.5vw;
  color: white;
  font-size: 5.5vw;
  text-transform: uppercase;
}

.hexagonContainer {
  width: 100%;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hexagonHive {
  position: relative;
  right: 10%;
  bottom: -5%;
  width: 30%;
  animation: upDown 1s infinite alternate ease-in;
  z-index: 1;
}

.hexagonSwc {
  position: absolute;
  left: 35%;
  top: 70%;
  width: 30%;
  animation: upDown 1.5s infinite alternate ease-in 1s;
}

@keyframes upDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2vh);
  }
}

@media screen and (max-width: 768px) {
  .hexagonContainer {
    display: none;
  }
  .principal {
    display: flex;
  }
  .principal h1 {
    line-height: 10vw;
    color: white;
    font-size: 10vw;
    text-transform: uppercase;
  }
  .principal h3 {
    font-size: 3.2vw;
  }

  .title {
    position: relative;
    right: 3%;
  }
}

.divider {
  background: linear-gradient(
    90deg,
    rgba(23, 0, 136, 1) 0%,
    rgba(255, 83, 53, 1) 100%
  );
  margin: 0;
}

.divider h1 {
  font-family: WorkSans;
  color: white;
  margin: 0;
  padding: 1.5%;
  text-align: center;
  text-transform: uppercase;
}

.nosotros {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(11, 11, 18);
  color: white;
  height: 90vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.nosotros div {
  font-family: HiveRidley;
  margin: 5%;
}

.nosotros div h1 {
  text-transform: uppercase;
  font-size: 3.3;
}

.nosotros div p {
  font-size: 1.5vw;
}

.nosotros img {
  width: 70%;
  justify-self: center;
  z-index: 2;
}

.hexagonsAsset {
  position: absolute;
  right: -10%;
  top: 5%;
  max-width: 80%;
  opacity: 0.2;
}

.assetBackground {
  margin: 0;
  width: 100%;
}

.assetBackground img {
  width: 100%;
}

.informacion {
  font-family: HiveRidley;
  background-color: rgb(11, 11, 18);
  height: 80vh;
  display: flex;
  align-items: center;
}

.informacion p {
  font-size: 1.5vw;
  color: white;
  padding: 5%;
  text-align: center;
}

.form{
  padding: 3%;
  background-color: rgb(11, 11, 18);
  color: white;
  font-family: HiveRidley;
  height: 80vh;
  text-transform: uppercase;
}

.form h1{
  text-align: center;
  font-size: 3.3vw;
  margin-bottom: 0;
}

.spanH1Form{
  color: darkred;
}

.form h3{
  text-align: center;
  font-size: 1.5vw;
  margin-top: 0;
}

.form > div{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: 5%;
}

.contact{
  border-radius: 5vw;
  padding: 5vw;
  background-color: rgba(255, 255, 255, 0.332);
}

.contact h3{
  text-align: left;
  font-size: 2.5vw;
}

.contact p{
  font-size: 1.2vw;
}

.form input{
  border: solid darkred 2px;
  border-radius: 3vw;
  background-color: rgb(11, 11, 18);
  color: white;
  padding-left: 1vw;
  font-size: 1.5vw;
  height: 2.5vw;
  width: 70%;
}